.main {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #c5c4c4;
    border-radius: 5px;
}

input[type="text"]#res {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cfcece;
    border-radius: 3px;
    font-size: 20px;
    text-align: right;
}

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn button {
    background-color: rgb(32, 7, 77);
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: rgb(140, 140, 145);
}

.btn button[aria-label="Equals"] {
    background-color: rgb(255, 213, 3);
    color: black;
}

.btn button[aria-label="Equals"]:hover {
    background-color: gold;
}
